name: Build BookSummarizer

on:
  push:
    tags:
      - 'v*' # Uruchomi się tylko jak dodasz tag (np. v1.0), żeby nie budować przy każdej literówce
  workflow_dispatch: # Pozwala odpalić ręcznie przyciskiem

jobs:
  build:
    name: Build packages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            TARGET: linux
            CMD_BUILD: pyinstaller --noconfirm --onefile --windowed --name "BookSummarizer" --add-data "logo.jpg:." main.py
            OUT_FILE: dist/BookSummarizer
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: pyinstaller --noconfirm --onefile --windowed --name "BookSummarizer" --add-data "logo.jpg;." main.py
            OUT_FILE: dist/BookSummarizer.exe

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build with PyInstaller
        run: ${{ matrix.CMD_BUILD }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: BookSummarizer-${{ matrix.TARGET }}
          path: ${{ matrix.OUT_FILE }}
